@font-face {
    font-family: 'Neue_Montreal';
    src: url('/NeueMontreal-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders_Grotesk';
    src: url('/FoundersGrotesk-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }